<div id="formContainer" class="container">
  <div class="row"> 
    <div class="col-xs-4 col-xs-offset-4">
      Login to your account
      <span class="pull-right">
        <%= link_to 'Create account', '/signup', id: "link"  %>
      </span>
      <div>
        <%= form_tag '/login' do %>
          <div id="form" class="form-group">              
            EMAIL <br>
            <%= text_field_tag :email, "", class: "form-control" %>
            <br>
            PASSWORD <br>
            <%= password_field_tag :password, "", id: "password", class: "form-control" %>
          </div>
          
            <%= check_box_tag :remember_me, 1, params[:remember_me] %>
            <span id="rememberMe"> REMEMBER ME </span>
          <span class="pull-right">
            <%= submit_tag "LOGIN", id: "formButton", class: "btn btn-success" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
