
<div id="adminIndex" class="row">
    <div class="col-xs-6">
        <%= link_to 'admin/shoes' do %>
            <div class="adminIndexItem">
                <div class="bubble">
                    <p> <%= @shoes.length %> shoes</p>
                </div>
            </div>
        <% end %>
        <div style="width:85%; margin:0 auto;">
            <%= link_to 'ADD SHOES', '/admin/shoes/create', class: "btn adminButton" %>
        </div>
    </div>
    <div class="col-xs-6">
        <%= link_to 'admin/users' do %>
            <div class="adminIndexItem">
                <div class="bubble">
                    <p> <%= @users.length %> users </p>
                </div>
            </div>
        <% end %>
    </div>
</div>

