<%= link_to 'ADD SHOES', '/admin/shoes/create', class: "btn adminButton" %>
<div style="height: 5px;"></div>
<table id="adminTable" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sort_link "id" %></th>
      <th><%= sort_link "model", "Name" %></th>
      <th><%= sort_link "category_id" %></th>
      <th><%= sort_link "brand_id" %></th>
      <th><%= sort_link "style_id" %></th>
      <th><%= sort_link "color_id" %></th>
      <th><%= sort_link "price" %></th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @shoes.each do |shoe| %>
      <tr>
        <td><%= shoe.id %></td>
        <td><%= shoe.model %></td>
        <td><%= shoe.category.category %></td>
        <td><%= shoe.brand.brand %></td>
        <td><%= shoe.style.style %></td>
        <td><%= shoe.color.color %></td>
        <td><%= shoe.price %> KM</td>

        <td>
          <%= link_to shoe, method: :delete,  data: { confirm: 'Are you sure you want to delete this shoe?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>