<div id="formContainer" class="container">
  <div class="row"> 
    <div class="col-xs-4 col-xs-offset-4">
      Create your account!
      <span class="pull-right signup-register-link">
        <%= link_to 'Login to your account', '/login' %>
      </span>

      <div>
        <%= form_for @user, url: '/users', id: "registration-form" do |f| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <h2>Please try again:</h2>
                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
              
          <div id="form" class="form-group">            
            EMAIL <br> 
            <%= f.text_field :email, required: true, class: "form-control" %>
            <br>
            PASSWORD <br> 
            <%= f.password_field :password, required: true, class: "form-control" %>
            <br>
            PASSWORD CONFIRMATION <br> 
            <%= f.password_field :password_confirmation, required: true, class: "form-control" %>
          </div>

          <span class="pull-right">
            <%= f.submit "CREATE ACCOUNT", id: "formButton", class: "btn btn-success" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function validateregitrationFunction() {
    $("#new_user").validate({
      debug: false,
      rules: {
        "user[password]": { minlength: 8 },
        "user[email]": { email: true }
            }
          })
        }
  $(document).ready(validateregitrationFunction);
  $(document).on('page:load', validateregitrationFunction);
</script>
