<div id="formContainer" class="container">
  <div class="row"> 
    <div class="col-xs-4 col-xs-offset-4">
      Create your account!
      <span class="pull-right">
        <%= link_to 'Login to your account', '/login' %>
      </span>
      <div>
        <%= form_with scope: :user, url: '/users' do |f| %>
          <div id="form" class="form-group">              
            EMAIL <br> 
            <%= f.text_field :email, class: "form-control" %>
            <br>
            PASSWORD <br> 
            <%= f.password_field :password, class: "form-control" %>
            <br>
            PASSWORD CONFIRMATION <br> 
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>

          <span class="pull-right">
            <%= f.submit "CREATE ACCOUNT", id: "formButton", class: "btn btn-success" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
