
<div class="container">
    <div class="row">
            <div class="col-xs-5 col-xs-offset-2">
                    <div id="cart-main-div">
                        <%= render "shoeList" %>
                    </div>
            </div>
            <div class="col-xs-3">
                <%= render "receipt" %>
                <%= form_tag 'charges#create' do %>
                <div class="cart-buttons">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description=""
                        data-amount= "<%= ((current_order.subtotal + current_order.shipping) * 100) %>"
                        data-locale="auto"
                        data-label="PAY <%= (current_order.subtotal + current_order.shipping) %>KM"
                        data-currency="BAM"></script>
               
                    <button class="cart-button-cancel cart-button btn "> 
                        <%= link_to "Back", :action => :new, remote: true %>
                    </button>

                <% end %>
                </div>

<!--                <div id="cart-buttons-1" class="cart-buttons">
                    <button class=" cart-button btn cart-button-continue"> 
                        <%= link_to "Continue", :action => :new, remote: true %> 
                    </button>
                    <button class="cart-button-cancel cart-button btn "> 
                        <%= link_to "Cancel", url_for(:back) %>
                    </button>
                </div>

                <div id="cart-buttons-2" class="cart-buttons" style="display:none">
                    <%= submit_tag "Continue", :controller => :carts, :action => :create, remote: true, class: "cart-button btn cart-button-continue" %> 
                    <button class="cart-button-cancel cart-button btn "> 
                        <%= link_to "Cancel", '/cart' %>
                    </button>
                </div>
                <div id="cart-buttons-3" class="cart-buttons">
                </div> -->
            </div>
    </div>
</div>

<script>
    if(document.getElementsByClassName("order-item").length === 0){
        document.getElementsByClassName("stripe-button-el")[0].disabled=true;
    }
</script>