<div class="container">
    <div class="row">
        <div class="col-xs-5 col-xs-offset-2">
            <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <div id="cart-main-div">
                <%= render "shoeList" %>
            </div>
        </div>
        <div class="col-xs-3">
            <%= render "receipt" %>
            <div id="cart-buttons-1" class="cart-buttons">
                <%= link_to "Continue", 'cart/addresses',
                    {id: "cart-button-continue1", class:" cart-button btn cart-button-continue"} %>
            </div>
        </div>
    </div>
</div>

<script>
    if(document.getElementById("cart-button-continue1") && document.getElementsByClassName("order-item").length === 0){
        $("#cart-button-continue1").on('click', function() { return false; });
    }
</script>
