Name and Surname:
<%= text_field_tag 'name', '', class: 'form-control' %>
Address: 
<%= text_field_tag 'address', '', class: 'form-control' %>
City:
<%= text_field_tag 'city', '', class: 'form-control' %>
Region:
<%= text_field_tag 'region', '', class: 'form-control' %>
Postal Code:
<%= text_field_tag 'zip', '', class: 'form-control' %>
Country:
<%= select_tag 'name', '', class: 'form-control' %>

<h1> <%= local_assigns[:addressType] %> </h1>




