<div id="address-form-div">
    <%= form_for type == 1 ? @deliveryAddress : @billingAddress do |f| %>

        Name: 
        <%= f.text_field :name, class: "form-control" %>
        <br>
        Address: 
        <%= f.text_field :address, class: "form-control" %>
        <br>        
        City: 
        <%= f.text_field :city, class: "form-control" %>
        <br>
        Region: 
        <%= f.text_field :region, class: "form-control" %>
        <br>
        Postal code:
        <%= f.text_field :zip, class: "form-control" %>
        <br>
        Country:
        <%= f.select :country_id, options_from_collection_for_select(Country.all, "id", "country"), {},
        {id:"shoe-form-select", class: "form-control"} %>
        <br>
        Telephone: 
        <%= f.text_field :telephone, class: "form-control" %>

    <% end %>
</div>