<div>
    FILTER
    <%= form_tag do %>
        Brend: <br>
        <%= select_tag "brand" %>
        <br>
        Velicina: <br>
        <%= select_tag "size" %>
        <br>
        Boja: <br>
        <%= select_tag "color" %>
        <br>
        Stil: <br>
        <%= select_tag "style" %>
        <br>
        Cijena: <br>
        <%= select_tag "price_range" %>
        <br>
    <% end %>
</div>