<div id='categoryShoeFilter'>
    <b>FILTER</b>
    <br>
    <br> 
    <%= form_tag({}, :method => :get, remote: true) do %>
        Brand: <br>
        <%= select_tag "brand", options_from_collection_for_select(@brand, "id", "brand"), {class: "form-control"} %>
        <br>
        Size: <br>
        <%= select_tag "size", options_from_collection_for_select(@shoeSize, "size", "size"), {class: "form-control"} %>
        <br>
        Color: <br>
        <%= select_tag "color", options_from_collection_for_select(@color, "id", "color"), {class: "form-control"} %>
        <br>
        Style: <br>
        <%= select_tag "style", options_from_collection_for_select(@style, "id", "style"), {class: "form-control"} %>
        <br>
        Price: <br>
        <%= select_tag "price_range", options_for_select(@priceRanges), {class: "form-control"} %>
        <br>
        <%= submit_tag "SEARCH", id: "formButtonBuy", class: "btn btn-success" %>
    <% end %>
        <br>
        <%= link_to 'Remove filter', category_path, class: 'shoe-link'%>
</div>