<div class="shoeTable">
    <div class="row shoeTableRow">
        <% for i in 0..(@shoes.length-1) %>
            <div class="col-xs-3">
                <%= link_to @shoes[i], class: 'shoeDataLink' do %>
                    <div class="shoeData">
                        <div class="shoeDataImgWrap">
                            <%= image_tag(@shoes[i].photo_url) %>
                            <div class="shoeDataInfo">
                                <p><%= @shoes[i].model %></p>
                                <b><p><%= @shoes[i].price %> KM</p></b>
                            </div>
                        </div>
                        <% if local_assigns[:title].nil? %>
                            <p style="margin-top: 5px; margin-left: 5px;"><%= @shoes[i].model %></p>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>
</div>


