<div class="shoeTable">
    <% @shoes.find_in_batches(batch_size: 4) do |shoe_batch| %>
        <div class="row shoeTableRow">
            <% shoe_batch.each do |shoe| %>
                <div class="col-xs-3">
                    <%= link_to shoe_path(shoe) do %>
                        <div id="shoeData">
                            <div id="shoeDataImgWrap">
                                <%= image_tag(shoe.photo_url) %>
                                <div id="shoeDataInfo">
                                    <p><%= shoe.model %></p>
                                    <b><p><%= shoe.price %> KM</p></b>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% if local_assigns[:title].nil? %>
                        <p style="margin-top: 5px; margin-left: 5px;"><%= shoe.model %></p>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
<div>


