<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116075461-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116075461-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "abhShoes" %></title>
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/sports-6/128/running-512.png"/>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Webshop" %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js" %>
  </head>
  <body>
    <div id="header" class="header-style-1">
      <%= render 'layouts/navigation' %>
    </div>
    <div id="body">
      <%= yield %>
    </div>
    <div id="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>

<script>
if (!document.getElementById("gallery")) {
    document.getElementById("header").classList.add('header-style-1');
    document.getElementById("header").classList.remove('header-style-2');
  }
  else {
    document.getElementById("header").classList.add('header-style-2');
    document.getElementById("header").classList.remove('header-style-1');
  }

  if (!document.getElementById("categoryContainer")) {
    //document.getElementById("navCategory").classList.remove('navCategorySelected');
  }
  else {
    var s = window.location.href.split('/');
    var current_cat = s[s.length-1]
    document.getElementById("navCategory"+current_cat).classList.add('navCategorySelected');
  }
</script>